body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.boxes {
    text-align: center;
}

nav {
    background-color: #F2F2F2;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

nav ul li a:hover {
    background-color: #333;
    color: #fff;
}

main {
    padding: 20px;
}

form {
    margin-bottom: 20px;
}

input,
textarea {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    padding: 10px;
}

button {
    padding: 10px 20px;
}

.bottons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.entry-list {
    text-align: center;
    margin-bottom: 2%;
}

.entry-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 10px;
}