body {
    margin: 0;
}

header {
    border: 1px solid black;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#logo {
    border: 1px solid black;
    width: 7%;
    height: auto;
    background-image: url(Resources/Images/Ejemplo\ logo.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

#title {
    border: 1px solid black;
}

#head_selection {
    border: 1px solid black;
    width: 15%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#head_about {
    border: 1px solid black;
}

#head_login {
    border: 1px solid black;
}

nav {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#discover-E {
    border: 1px solid black;
    width: 25%;
    height: auto;
    text-align: center;
}

#dropdown-content-E {
    border: 1px solid black;
    display: none;
    list-style-type: none;
}

#dropdown-content-E ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-bottom: 2%;
}

#dropdown-content-E li {
    text-align: center;
    margin-bottom: 2%;
}

#discover-E:hover #dropdown-content-E {
    display: block;
}

#discover-S {
    border: 1px solid black;
    width: 25%;
    height: auto;
    text-align: center;
}

#dropdown-content-S {
    border: 1px solid black;
    display: none;
    list-style-type: none;
}

#dropdown-content-S ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-bottom: 2%;
}

#dropdown-content-S li {
    text-align: center;
    margin-bottom: 2%;
}

#discover-S:hover #dropdown-content-S {
    display: block;
}

section {
    border: 1px solid black;
    width: 100%;
    overflow: hidden;
}

main {
    border: 1px solid black;
    width: 75%;
    float: left;
}

#main-content {
    background-image: url(Resources/Images/TravelEruope.jpg);
    background-size: cover;
}

.city-content {
    display: none;
}

aside {
    border: 1px solid black;
    width: 24.7%;
    height: 37.5rem;
    float: right;
}

#map {
    width: 100%;
    height: 50%;
}

footer {
    border: 1px solid black;
    width: 100%;
    height: auto;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#contac {
    border: 1px solid black;
    text-align: center;
}

#subscribe {
    border: 1px solid black;
    text-align: center;
}

#policies {
    border: 1px solid black;
    text-align: center;
}

#social-media {
    border: 1px solid black;
    width: 25%;
    text-align: center;
    margin: auto;
}

.icons {
    font-size: 1.5625rem;
}

#copyright {
    border: 1px solid black;
    width: 25%;
    text-align: center;
    margin: auto;
}
