<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div>
        <article id="berlin" class="city-content">
            <h2>Berlín</h2>
            <img class="images" src="Resources/Images/Berlin.jpg" alt="Berlín">
            <p>Berlín es una ciudad vibrante y multicultural en Alemania, reconocida por su rica historia, marcada
                por el Muro de Berlín y monumentos como la Puerta de Brandeburgo. Además, Berlín destaca por su
                escena artística, su ambiente alternativo y su arquitectura moderna, convirtiéndola en un destino
                cosmopolita y fascinante.</p>
            <button class="buttonInformation">+info</button>
            <div class="addContent">
                <h2>Historia</h2>
                <p>Berlín, la capital de Alemania, tiene una historia fascinante y compleja que se remonta a más de 800 años. Aquí tienes un breve resumen de los momentos clave en la historia de esta icónica ciudad:</p>
                <ul>
                    <li>Edad Media y Prusia: Berlín se fundó en el siglo XIII como una pequeña ciudad comercial. Durante los siglos siguientes, se convirtió en parte del Reino de Prusia y se consolidó como la capital de dicho reino en el siglo XVIII. Durante este período, se llevaron a cabo importantes desarrollos urbanísticos y culturales.</li>
                    <li>Siglo XIX y Unificación Alemana: En el siglo XIX, Berlín experimentó un rápido crecimiento y se convirtió en un centro industrial y cultural. En 1871, Berlín se convirtió en la capital del Imperio Alemán recién unificado. Durante este tiempo, la ciudad experimentó una expansión significativa y se construyeron numerosos edificios emblemáticos, como la Catedral de Berlín y el Reichstag </li>
                    <li>Primera y Segunda Guerra Mundial: Durante la Primera Guerra Mundial, Berlín sufrió dificultades económicas y políticas. Después de la guerra, la ciudad se convirtió en el centro de la efervescente República de Weimar, pero esta era democrática fue breve debido a la llegada del régimen nazi en 1933. Durante la Segunda Guerra Mundial, Berlín fue bombardeada intensamente y sufrió graves daños.</li>
                    <li>La Guerra Fría y el Muro de Berlín: Después de la Segunda Guerra Mundial, Berlín quedó dividida en cuatro sectores controlados por las potencias aliadas: Estados Unidos, Reino Unido, Francia y la Unión Soviética. En 1961, se construyó el infame Muro de Berlín para dividir la ciudad y evitar la emigración de ciudadanos de la Alemania Oriental comunista a la Alemania Occidental. Durante décadas, el Muro simbolizó la división de Europa y fue derribado pacíficamente en 1989.</li>
                    <li>Reunificación y Berlín moderna: La caída del Muro de Berlín condujo a la reunificación de Alemania en 1990. Berlín recuperó su estatus como capital de Alemania unificada y se embarcó en un proceso de reconstrucción y revitalización. Desde entonces, Berlín se ha convertido en una metrópolis vibrante y multicultural, conocida por su arquitectura moderna, su vida nocturna, su arte y su importancia política como sede del gobierno alemán.</li>
                </ul>
                <p>En resumen, la historia de Berlín abarca desde sus humildes orígenes medievales hasta su papel central en la historia moderna de Alemania. Ha sido testigo de momentos turbulentos, pero también de una resiliencia notable que ha llevado a su transformación en una ciudad dinámica y emblemática a nivel mundial.</p>
            </article>
        <article id="sofia" class="city-content">
            <h2>Sofía</h2>
            <img class="images" src="Resources/Images/Sofia.jpg" alt="Sofía">
            <p>Sofía es la capital de Bulgaria, una ciudad en constante transformación que combina su legado
                histórico con una atmósfera moderna y animada. Con sus impresionantes iglesias ortodoxas, parques
                encantadores y una emocionante escena cultural, Sofía cautiva a los visitantes con su encanto único
                en Europa del Este.</p>
            <button class="buttonInformation">+info</button>
            <div class="addContent">
                <h2>Historia</h2>
                <p>Sofía, la capital de Bulgaria, tiene una historia rica y diversa que se extiende por más de 2.000 años. Aquí tienes un breve resumen de los momentos clave en la historia de esta ciudad histórica:</p>
                <ul>
                    <li>Antigüedad y dominio romano: Se cree que Sofía fue fundada por los tracios, un antiguo pueblo de la región balcánica, en el siglo VIII a.C. Posteriormente, los romanos conquistaron la ciudad en el siglo I d.C. y la rebautizaron como Serdica. Durante la dominación romana, Serdica se convirtió en un importante centro administrativo y comercial.</li>
                    <li>Dominio bizantino y eslavos: Después de la caída del Imperio Romano de Occidente, Sofía pasó a estar bajo el dominio del Imperio Bizantino en el siglo VI. Más tarde, en el siglo IX, la ciudad fue conquistada por los búlgaros, un pueblo eslavo, y se convirtió en parte del Primer Imperio Búlgaro. Durante este tiempo, Sofía experimentó un florecimiento cultural y religioso.</li>
                    <li>Dominio otomano: En el siglo XIV, Sofía cayó bajo el dominio del Imperio Otomano y se convirtió en una importante ciudad otomana. Durante más de cuatro siglos, la ciudad fue testigo de la influencia cultural y arquitectónica otomana. Numerosas mezquitas, baños turcos y otras estructuras otomanas se construyeron en Sofía durante este período.</li>
                    <li>Liberación y periodo moderno: Sofía fue liberada del dominio otomano en 1878, después de la Guerra Ruso-Turca, y se convirtió en la capital del recién independizado Principado de Bulgaria. Durante el siglo XX, la ciudad experimentó cambios significativos y un rápido desarrollo. Sofía se convirtió en la capital de la Bulgaria moderna en 1908 y ha sido testigo de períodos de crecimiento urbano, transformación arquitectónica y cambios políticos a lo largo de los años.</li>
                    <li>Época contemporánea: Después de la Segunda Guerra Mundial, Bulgaria cayó bajo el régimen comunista y Sofía se convirtió en el centro político y cultural del país. Tras la caída del comunismo en 1989, Sofía experimentó una transición hacia la economía de mercado y se produjeron cambios políticos y sociales significativos.</li>
                </ul>
                <p>En resumen, la historia de Sofía abarca desde su fundación antigua hasta su papel actual como capital de Bulgaria. Ha sido testigo de influencias romanas, bizantinas y otomanas, así como de períodos de independencia, desarrollo moderno y cambios políticos. Hoy en día, Sofía es una ciudad vibrante que combina su rica herencia histórica con una perspectiva moderna y cosmopolita.</p>
            </div>
        </article>
        <article id="budapest" class="city-content">
            <h2>Budapest</h2>
            <img class="images" src="Resources/Images/Budapest.jpg" alt="Budapest">
            <p>Budapest, la capital de Hungría, es una joya europea con una mezcla perfecta de historia y belleza
                arquitectónica. Con sus imponentes puentes sobre el río Danubio, sus famosos baños termales y su
                ambiente bohemio, Budapest cautiva a los visitantes con su encanto singular.</p>
            <button class="buttonInformation">+info</button>
            <div class="addContent">
                <h2>Historia</h2>
                <p>Budapest, la capital de Hungría, es una ciudad con una historia fascinante que abarca más de 2.000 años. Aquí tienes un breve resumen de los momentos clave en la historia de esta hermosa ciudad:</p>
                <ul>
                    <li>Antigüedad y dominio romano: Se cree que Budapest fue habitada desde tiempos prehistóricos, pero su historia registrada se remonta al Imperio Romano. En el siglo I d.C., los romanos establecieron un asentamiento en la zona conocida como Aquincum, que se convirtió en una importante ciudad y centro comercial.</li>
                    <li>Edad Media y dominio otomano: Durante la Edad Media, Budapest se convirtió en un centro político y cultural. En el siglo XIII, se unieron las ciudades de Buda y Pest, situadas a ambos lados del río Danubio, para formar Budapest. En el siglo XVI, la ciudad cayó bajo el dominio otomano durante más de 150 años y sufrió una serie de invasiones y conflictos.</li>
                    <li>Era de los Habsburgo y modernización: En el siglo XVIII, Budapest pasó a formar parte del Imperio de los Habsburgo y experimentó un período de desarrollo y modernización. Bajo el reinado de la emperatriz María Teresa y su hijo José II, se llevaron a cabo importantes reformas y se construyeron muchos edificios y monumentos emblemáticos.</li>
                    <li>Siglo XIX y lucha por la independencia: En el siglo XIX, Budapest se convirtió en un centro de la lucha por la independencia y la autonomía de Hungría dentro del Imperio Austrohúngaro. Durante este período, se construyeron magníficos edificios y se desarrolló una vibrante vida cultural, lo que llevó a que Budapest fuera conocida como la "París del Este".</li>
                    <li>Siglo XX y período comunista: Después de la Primera Guerra Mundial, Hungría perdió gran parte de su territorio y quedó bajo el control del Reino de Rumanía. Durante la Segunda Guerra Mundial, Budapest sufrió graves daños debido a los bombardeos y los combates. Luego, el país quedó bajo el dominio comunista durante décadas, como parte del bloque del Este.</li>
                    <li>Era contemporánea y revitalización: Con la caída del comunismo en 1989, Budapest experimentó una transformación significativa. Se llevaron a cabo reformas económicas y políticas, y la ciudad se abrió al mundo exterior. Desde entonces, Budapest ha experimentado un renacimiento y una revitalización, convirtiéndose en un importante destino turístico y centro cultural de Europa Central.</li>
                </ul>
                <p>En resumen, la historia de Budapest abarca desde su fundación en la época romana hasta su papel actual como una ciudad vibrante y cosmopolita. Ha sido testigo de invasiones, guerras, períodos de esplendor cultural y desafíos políticos. Hoy en día, Budapest combina su rica herencia histórica con una arquitectura impresionante, baños termales famosos, una animada vida nocturna y una escena cultural floreciente.</p>
            </div>
        </article>
        <article id="praga" class="city-content">
            <h2>Praga</h2>
            <img class="images" src="Resources/Images/Praga.jpg" alt="Praga">
            <p>Praga, la capital de la República Checa, es una ciudad de cuento de hadas con su impresionante
                arquitectura gótica, sus estrechas calles empedradas y su majestuoso Castillo de Praga. Con su
                ambiente romántico y su rica historia, Praga es un destino imperdible para los amantes del arte y la
                cultura.</p>
            <button class="buttonInformation">+info</button>
            <div class="addContent">
                <h2>Historia</h2>
                <p>
                    Praga, la capital de la República Checa, es una ciudad con una historia fascinante que abarca más de mil años. Aquí tienes un breve resumen de los momentos clave en la historia de esta hermosa ciudad:</p>
                <ul>
                    <li>Fundación medieval: Se cree que Praga fue fundada en el siglo IX por los duques checos de la dinastía Premyslid. Praga rápidamente se convirtió en un importante centro político y económico en Europa Central y en la capital del Reino de Bohemia.</li>
                    <li>Época de Carlos IV: En el siglo XIV, bajo el reinado del emperador Carlos IV, Praga experimentó un período de florecimiento cultural y arquitectónico. Se construyeron importantes monumentos, como el Puente de Carlos y la Universidad Carolina, que aún son símbolos emblemáticos de la ciudad.</li>
                    <li>Reforma y Guerra de los Treinta Años: Durante la Reforma Protestante en el siglo XVI, Praga se convirtió en un importante centro de la Iglesia Husita. Sin embargo, en el siglo XVII, la ciudad fue devastada por la Guerra de los Treinta Años, un conflicto religioso y político que afectó profundamente a Europa Central.</li>
                    <li>Dominio austrohúngaro y Primera República Checoslovaca: Praga pasó a formar parte del Imperio Austrohúngaro en el siglo XIX y se convirtió en un centro del movimiento nacional checo. Tras el colapso del imperio al final de la Primera Guerra Mundial, Praga se convirtió en la capital de la recién fundada República Checoslovaca en 1918.</li>
                    <li>Segunda Guerra Mundial y comunismo: Durante la Segunda Guerra Mundial, Praga fue ocupada por las fuerzas nazis y sufrió represión y persecución. Después de la guerra, el país cayó bajo el régimen comunista y Praga se convirtió en la capital de la República Socialista de Checoslovaquia. Durante este período, se produjeron protestas y eventos significativos, como la Primavera de Praga en 1968.</li>
                    <li>División pacífica y era contemporánea: Tras la Revolución de Terciopelo en 1989, Checoslovaquia se dividió pacíficamente en la República Checa y Eslovaquia, y Praga se convirtió en la capital de la República Checa. Desde entonces, la ciudad ha experimentado un resurgimiento económico y una revitalización cultural, convirtiéndose en uno de los destinos turísticos más populares de Europa.</li>
                </ul>
                <p>En resumen, la historia de Praga abarca desde su fundación medieval hasta su papel actual como una ciudad dinámica y culturalmente rica. Ha sido testigo de períodos de esplendor, conflictos religiosos y políticos, así como de cambios significativos en el panorama europeo. Praga se enorgullece de su impresionante arquitectura, su encanto histórico y su ambiente bohemio, atrayendo a visitantes de todo el mundo.</p>
            </div>
        </article>
        <article id="barcelona" class="city-content">
            <h2>Barcelona</h2>
            <img class="images" src="Resources/Images/Barcelona.jpg" alt="Barcelona">
            <p>Barcelona es una ciudad vibrante y cosmopolita en la costa mediterránea, conocida por su arquitectura
                única, como la Sagrada Familia y el Parque Güell, así como por su animada vida nocturna y sus
                hermosas playas. Con una rica oferta cultural y gastronómica, Barcelona ofrece una experiencia
                inolvidable para sus visitantes.</p>
            <button class="buttonInformation">+info</button>
            <div class="addContent">
                <h2>Historia</h2>
                <p>Barcelona, la ciudad más grande de Cataluña y una de las más importantes de España, tiene una historia rica y diversa que se remonta a más de 2.000 años. Aquí tienes un breve resumen de los momentos clave en la historia de esta ciudad mediterránea:</p>
                <ul>
                    <li>Fundación romana: Barcelona fue fundada por los romanos en el siglo I a.C. con el nombre de "Barcino". Durante la época romana, se construyeron murallas, templos y otros edificios, y la ciudad se convirtió en un importante centro comercial y administrativo de la región.</li>
                    <li>Edad Media y Reino de Aragón: En la Edad Media, Barcelona se convirtió en la capital del Condado de Barcelona y posteriormente del Reino de Aragón. Durante este período, la ciudad se expandió y se construyeron la Catedral de Barcelona y otras importantes estructuras góticas. Barcelona también tuvo un papel destacado en el comercio mediterráneo y se convirtió en una ciudad próspera.</li>
                    <li>Siglos XV al XVIII: Durante los siglos XV y XVI, Barcelona sufrió una serie de conflictos y epidemias, pero también fue testigo de un renacimiento cultural y artístico. Sin embargo, en el siglo XVII, la ciudad sufrió un declive económico y fue afectada por la Guerra de Sucesión Española en el siglo XVIII, que tuvo un impacto significativo en Cataluña y en su autonomía.</li>
                    <li>Industrialización y modernización: A finales del siglo XVIII y principios del XIX, Barcelona comenzó a experimentar un proceso de industrialización y modernización. Se desarrollaron industrias, como la textil, y la ciudad se expandió rápidamente. Durante este período, se llevaron a cabo importantes proyectos de infraestructura y se construyeron edificios emblemáticos, como la Sagrada Familia.</li>
                    <li>Siglo XX y actualidad: Barcelona sufrió turbulencias durante el siglo XX, incluida la dictadura de Franco, que limitó la autonomía de Cataluña. Sin embargo, después de la transición a la democracia en España, Barcelona experimentó un renacimiento cultural y económico notable. La ciudad fue sede de los Juegos Olímpicos de 1992, lo que impulsó su desarrollo urbanístico y la convirtió en un destino turístico de renombre mundial.</li>
                </ul>
                <p>Hoy en día, Barcelona es conocida por su impresionante arquitectura modernista, encabezada por las obras de Antoni Gaudí, sus playas mediterráneas, su animada vida cultural y su orgullo por la identidad catalana. Barcelona ha sido moldeada por su historia y se ha convertido en una ciudad vibrante y cosmopolita que atrae a visitantes de todo el mundo.                </p>
            </div>
        </article>
        <article id="granada" class="city-content">
            <h2>Granada</h2>
            <img class="images" src="Resources/Images/Granada.jpg" alt="Granada">
            <p>Granada es una ciudad mágica en el sur de España, famosa por su icónico Palacio de la Alhambra, que
                combina la arquitectura islámica y cristiana. Además, sus estrechas calles del Albaicín, su rica
                historia y su ambiente bohemio la convierten en un lugar fascinante para visitar.</p>
            <button class="buttonInformation">+info</button>
            <div class="addContent">
                <h2>Historia</h2>
                <p>Granada, una ciudad ubicada en el sur de España, tiene una historia rica y fascinante que se remonta a varios siglos. Aquí tienes un breve resumen de los momentos clave en la historia de esta ciudad andaluza:</p>
                <ul>
                    <li>Periodo íbero y romano: La historia de Granada se remonta a la época pre-romana, cuando la región estaba habitada por los íberos. Sin embargo, fue durante la dominación romana en el siglo III a.C. que la ciudad comenzó a desarrollarse. Los romanos fundaron la ciudad de Illiberis en el lugar donde hoy se encuentra Granada.</li>
                    <li>Dominio musulmán y Alhambra: Uno de los períodos más importantes en la historia de Granada fue su dominio musulmán. En el siglo VIII, los musulmanes bereberes conquistaron la región y establecieron el Reino de Granada. Durante este tiempo, la ciudad experimentó un esplendor cultural y artístico notable. El punto culminante de esta era fue la construcción de la Alhambra, un complejo palaciego y fortaleza islámica que se convirtió en uno de los tesoros más emblemáticos de España2</li>
                    <li>Reconquista y final del dominio musulmán: En 1492, después de más de 700 años de dominio musulmán, Granada fue finalmente conquistada por los Reyes Católicos, Fernando e Isabel, como parte de la llamada "Reconquista". Este evento marcó el final del último reino musulmán en la península ibérica y el inicio de una nueva era en la historia de Granada.</li>
                    <li>Siglos XVI al XVIII: Durante los siglos XVI al XVIII, Granada experimentó cambios significativos bajo el dominio de la monarquía española. Se llevaron a cabo numerosas obras de construcción en la ciudad, y se agregaron iglesias y monasterios en estilo renacentista y barroco. Sin embargo, Granada también sufrió desafíos y declives económicos durante este período.</li>
                    <li>Era contemporánea: Granada experimentó cambios sociales y políticos significativos durante los siglos XIX y XX. Durante la Guerra Civil Española, la ciudad sufrió bombardeos y enfrentamientos. Sin embargo, en la segunda mitad del siglo XX, Granada se convirtió en un centro turístico y cultural importante, atrayendo a visitantes de todo el mundo interesados en su rica historia, su arquitectura y su vibrante vida cultural.</li>
                </ul>
                <p>En resumen, la historia de Granada abarca desde su fundación en tiempos romanos hasta su importancia durante el período musulmán, su conquista por los Reyes Católicos y su posterior desarrollo como una ciudad de gran valor histórico y turístico. Granada es famosa por su arquitectura morisca, especialmente la Alhambra, y sigue siendo un lugar lleno de encanto y belleza que cautiva a sus visitantes.</p>
            </div>
        </article>
        <article id="merida" class="city-content">
            <h2>Mérida</h2>
            <img class="images" src="Resources/Images/Mérida.jpg" alt="Mérida">
            <p>Mérida es una histórica ciudad en el suroeste de España, famosa por su impresionante conjunto
                arqueológico romano, que incluye un teatro, un anfiteatro y un acueducto, que reflejan su rica
                herencia cultural. Además, Mérida cuenta con encantadoras calles empedradas y una atmósfera
                tranquila que invita a explorar su patrimonio histórico.</p>
            <button class="buttonInformation">+info</button>
            <div class="addContent">
                <h2>Historia</h2>
                <p>Mérida, una ciudad ubicada en el suroeste de España, tiene una historia rica y fascinante que se remonta a más de dos mil años. Aquí tienes un breve resumen de los momentos clave en la historia de esta ciudad:</p>
                <ul>
                    <li>Fundación romana: Mérida fue fundada en el año 25 a.C. por el emperador romano Augusto con el nombre de "Emerita Augusta". Fue establecida como una colonia para los soldados retirados del ejército romano. Durante el período romano, Mérida se convirtió en una ciudad próspera y floreciente, con una rica arquitectura y una vida cultural activa.</li>
                    <li>Esplendor romano: Durante los siglos I y II d.C., Mérida se convirtió en la capital de la provincia romana de Lusitania y uno de los centros urbanos más importantes de la península ibérica. Se construyeron numerosos monumentos, incluyendo un anfiteatro, un teatro, un acueducto y un puente, muchos de los cuales se conservan hasta el día de hoy.</li>
                    <li>Periodo visigodo y dominio islámico: Después de la caída del Imperio Romano de Occidente, Mérida pasó a formar parte del Reino Visigodo. Sin embargo, en el año 713, la ciudad fue conquistada por las fuerzas islámicas y se convirtió en parte del Al-Ándalus. Durante este período, Mérida perdió gran parte de su esplendor anterior, aunque continuó siendo un centro administrativo y cultural importante.</li>
                    <li>Reconquista y Edad Media: En el siglo XIII, Mérida fue reconquistada por las fuerzas cristianas y pasó a formar parte del Reino de León. Durante la Edad Media, la ciudad experimentó un período de estancamiento y decadencia, pero aún conservaba algunos vestigios de su pasado romano.</li>
                    <li>Edad Moderna y contemporánea: En los siglos XVI y XVII, Mérida sufrió la destrucción de algunos de sus monumentos romanos, debido a la reutilización de sus materiales para la construcción de nuevos edificios. Sin embargo, en el siglo XIX, se inició un proceso de restauración y recuperación de su patrimonio histórico, y Mérida se convirtió en un importante destino turístico gracias a su impresionante legado romano.</li>
                </ul>
                <p>Hoy en día, Mérida es conocida como la "Roma española" y es famosa por su excepcional conjunto arqueológico, que incluye el Teatro Romano, el Anfiteatro, el Puente Romano y el Acueducto de los Milagros. Estos monumentos han sido declarados Patrimonio de la Humanidad por la UNESCO y atraen a visitantes de todo el mundo interesados en explorar la rica historia romana de la ciudad. Mérida es un testimonio vivo del pasado glorioso de la civilización romana en la península ibérica.</p>
            </div>
        </article>
        <article id="sevilla" class="city-content">
            <h2>Sevilla</h2>
            <img class="images" src="Resources/Images/Sevilla.jpg" alt="Sevilla">
            <p>Sevilla es una ciudad cautivadora en el sur de España, conocida por su animada cultura flamenca, su
                majestuosa catedral gótica y su impresionante alcázar real. Con su clima cálido y sus encantadoras
                calles llenas de vida, Sevilla es un destino imperdible para los amantes de la historia y la
                autenticidad española.</p>
            <button class="buttonInformation">+info</button>
            <div class="addContent">
                <h2>Historia</h2>
                <p>Sevilla, una ciudad situada en el suroeste de España, tiene una historia rica y fascinante que se remonta a más de 2.000 años. Aquí tienes un breve resumen de los momentos clave en la historia de esta ciudad andaluza:</p>
                <ul>
                    <li>Fundación romana: Sevilla, conocida entonces como "Hispalis", fue fundada por los romanos en el siglo II a.C. Durante la época romana, la ciudad floreció como un importante centro comercial y administrativo en la península ibérica. Los romanos dejaron su huella en la ciudad, construyendo monumentos como las murallas, el teatro y la Casa de la Moneda.</li>
                    <li>Dominio musulmán: En el siglo VIII, Sevilla fue conquistada por los musulmanes y se convirtió en una importante ciudad del Califato de Córdoba. Durante el período musulmán, conocido como Al-Ándalus, Sevilla se convirtió en un floreciente centro cultural, artístico y económico. Importantes monumentos, como la Giralda y el Real Alcázar, fueron construidos durante esta época.</li>
                    <li>Reconquista y expansión: En 1248, Sevilla fue conquistada por el rey Fernando III de Castilla durante la Reconquista cristiana. Bajo el dominio cristiano, la ciudad se expandió y experimentó un período de gran prosperidad. Sevilla se convirtió en un centro de comercio y navegación, siendo el puerto principal para el comercio con las colonias españolas en América.</li>
                    <li>Siglos de decadencia y renacimiento: A pesar de su importancia histórica, Sevilla sufrió un período de declive en los siglos XVI y XVII debido a las epidemias y las restricciones comerciales. Sin embargo, durante el siglo XIX, la ciudad experimentó un renacimiento económico y cultural, con la apertura del puerto de Sevilla al comercio internacional.</li>
                    <li>Era contemporánea: En el siglo XX, Sevilla se convirtió en una ciudad moderna y vibrante. Fue sede de la Exposición Iberoamericana de 1929, que dejó un legado arquitectónico importante, como la Plaza de España. Sevilla también fue testigo de un gran desarrollo urbano y se convirtió en un importante destino turístico, conocido por su encanto, su arquitectura histórica y su animada cultura.</li>
                </ul>
                <p>Hoy en día, Sevilla es una ciudad llena de vida, con un patrimonio histórico y cultural excepcional. Sus monumentos, festivales flamencos, tapas deliciosas y la pasión por el flamenco la convierten en un destino turístico muy popular. Sevilla es una fusión única de influencias romanas, musulmanas y cristianas, y sigue siendo un reflejo del rico legado histórico y cultural de España.</p>
            </div>
        </article>
    </div>
    
</body>
</html>