@font-face {
    font-family: Jockey;
    src: url(../Resources/Letters/Jockey.otf);
}

body {
    margin: 0;
    font-family: Jockey;
    background-image: url(../Resources/Images/Plane.jpg);
    background-size: cover;
    background-position: center;
    color: black;
}

header {
    /* border: 1px solid black; */
    width: 100%;
    height: 9.375rem;
}

#logo {
    /* border: 1px solid black; */
    border-radius: 50%;
    width: 25%;
    height: 100%;
    margin-left: 35%;
}

nav {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#news {
    width: 25%;
    height: auto;
    text-align: center;
}

#discover-E {
    /* border: 1px solid black; */
    width: 25%;
    height: auto;
    text-align: center;
}

#dropdown-content-E {
    /* border: 1px solid black; */
    display: none;
    list-style-type: none;
}

#dropdown-content-E ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-bottom: 2%;
}

#dropdown-content-E li {
    text-align: center;
    margin-bottom: 2%;
}

#discover-E:hover #dropdown-content-E {
    display: block;
}

#discover-S {
    /* border: 1px solid black; */
    width: 25%;
    height: auto;
    text-align: center;
}

#dropdown-content-S {
    /* border: 1px solid black; */
    display: none;
    list-style-type: none;
}

#dropdown-content-S ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-bottom: 2%;
}

#dropdown-content-S li {
    text-align: center;
    margin-bottom: 2%;
}

#discover-S:hover #dropdown-content-S {
    display: block;
}

#admin {
    width: 25%;
    height: auto;
    text-align: center;
}

section {
    /* border: 1px solid black; */
    width: 100%;
    overflow: hidden;
}

main {
    /* border: 1px solid black; */
    width: 75%;
    float: left;
}

.images {
    width: 100%;
    height: auto;
}

.addContent {
    display: none;
}

.buttonInformation {
    margin-top: 10px;
}

.city-content {
    display: none;
}

aside {
    border: 1px solid black;
    width: 24.7%;
    height: 37.5rem;
    float: right;
}

#map {
    width: 100%;
    height: 50%;
}

#social-media {
    border: 1px solid black;
    width: 100%;
    height: 45%;
    background-image: url(../Resources/Images/Posit.png);
    background-size: 80%;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    margin: auto;
    /* backdrop-filter: blur(.625rem); */
}

footer {
    /* border: 1px solid black; */
    width: 100%;
    height: auto;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#contac {
    /* border: 1px solid black; */
    text-align: center;
    /* backdrop-filter: blur(.625rem); */
}

#subscribe {
    /* border: 1px solid black; */
    text-align: center;
    /* backdrop-filter: blur(.625rem); */
}

#policies {
    /* border: 1px solid black; */
    text-align: center;
    /* backdrop-filter: blur(.625rem); */
}

.icons {
    font-size: 1.5625rem;
}

#copyright {
    /* border: 1px solid black; */
    width: 25%;
    text-align: center;
    margin: auto;
    /* backdrop-filter: blur(.625rem); */
}