@font-face {
    font-family: Jockey;
    src: url(../Resources/Letters/Jockey.otf);
}


@media (max-width: 450px) and (max-height: 800px) {
    body {
        font-size: 14px;
    }

    #logo {
        width: 50%;
        margin-left: 25%;
    }

    nav {
        flex-direction: column;
    }

    #news,
    #discover-E,
    #discover-S,
    #admin {
        width: 100%;
    }

    #dropdown-content-E ul,
    #dropdown-content-S ul {
        margin-bottom: 5%;
    }

    aside {
        display: none;
    }

    main {
        width: 100%;
        float: none;
    }

    #map {
        height: 40%;
    }

    #social-media {
        background-size: 60%;
        height: 40%;
    }
}

body {
    margin: 0;
    font-family: Jockey;
    background-image: url(../Resources/Images/Plane.jpg);
    background-size: cover;
    background-position: center;
    color: black;
}

header {
    width: 100%;
    height: 9.375rem;
}

#logo {
    border-radius: 50%;
    width: 25%;
    height: 100%;
    margin-left: 35%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#news {
    width: 25%;
    height: auto;
    text-align: center;
}

#discover-E {
    width: 25%;
    height: auto;
    text-align: center;
}

#dropdown-content-E {
    display: none;
    list-style-type: none;
}

#dropdown-content-E ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    margin-bottom: 2%;
    padding: 0;
}

#dropdown-content-E li {
    margin-bottom: 2%;
    text-align: center;
}

#discover-E:hover #dropdown-content-E {
    display: block;
}

#discover-S {
    width: 25%;
    height: auto;
    text-align: center;
}

#dropdown-content-S {
    display: none;
    list-style-type: none;
}

#dropdown-content-S ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    margin-bottom: 2%;
    padding: 0;
}

#dropdown-content-S li {
    margin-bottom: 2%;
    text-align: center;
}

#discover-S:hover #dropdown-content-S {
    display: block;
}

#admin {
    width: 25%;
    height: auto;
    text-align: center;
}

section {
    width: 100%;
    overflow: hidden;
}

main {
    width: 75%;
    float: left;
}

.images {
    width: 100%;
    height: auto;
}

.addContent {
    display: none;
}

.buttonInformation {
    margin-top: 10px;
}

.city-content {
    display: none;
}

aside {

    width: 24.7%;
    height: 37.5rem;
    float: right;
}

#map {
    width: 100%;
    height: 50%;
}

#social-media {
    width: 100%;
    height: 45%;
    margin: auto;
    text-align: center;
    background-image: url(../Resources/Images/Posit.png);
    background-size: 80%;
    background-position: center center;
    background-repeat: no-repeat;
}

footer {
    width: 100%;
    height: auto;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#contac {
    text-align: center;
}

#subscribe {
    text-align: center;
}

#policies {
    text-align: center;
}

.icons {
    font-size: 1.5625rem;
}

#copyright {
    width: 25%;
    margin: auto;
    text-align: center;
}